
/* the pre reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s ease;
}

/* its the body  */
body{
    overflow-x: hidden;
    background: #000;
    
}
.container {
    width: 100vw;
    overflow-x: hidden;
    height: auto;
    

    .hero {
        width: 200vw;
        height: 100vh;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr;
        


        /* its the hero page first section  */
        .first-section {
            width: 100vw;
            display: grid;
            overflow: hidden;
            place-items: center;
            height: 100vh;
            background: #000;
            border: none;
            .texts{
                position: fixed;
                top: 30%;
                left: 50%;
                width: 20%;
                color: rgb(0, 0, 0);
                .helloo{
                    width: 110px;
                    h1{
                        position: relative;
                        width: 100%;
                        color: white;
                        &::before{
                            position: absolute;
                            content: attr(data-text);
                            height: 100%;
                            color: black;
                            width: 100%;
                            border-right: solid 3px red;
                        }
                    }
                }
                
            }

            /* its the hero page svg  */
            svg {
                scale: .3;


                #Scroll-icon {

                    transform: translateY(50px);
                }

                // 
                #FirstSectionSvg {

                    /*its the scroll icon icluded svg*/
                    /* its the table svg*/
                    #Table,
                    #Mobile,
                    #Paper,
                    #Keyboard,
                    #Pc-frame,
                    #Display-black,
                    #Display-white,
                    #Tea,
                    #Book ,
                    #Display-for-code{
                        opacity: 0;
                        overflow: hidden;
                    }
                    #Display-for-code{
                        overflow-x: hidden;
                    }
                    #rec-for-hello{
                        width: 20px;
                    }
                    #rec-for-manshad_2{
                        z-index: 0;
                    }
                    #Pc-frame{
                        z-index: 2;
                    }

                }
            }
        }

        .second-section {
            /*its the second section */
            background: #842227;
            display: grid;
            overflow: hidden;
            place-items: center;
            border: none;

            svg {
                transform: translateY(0);
            }
        }

    }
    .mobile-page{
        background: #B8531A;
        width: 100vw;
        min-height: 100vh;
        display: grid;
        position: relative;
        place-items: center;
        z-index: -1;
        svg{
            overflow: hidden;
            #Background-of-the-mobile{
                opacity:0;
            }
        }
        .keyboardofmob{
            position: absolute;
            right:-280px;
            top: -185px;
        }
    }
}

/* its for hero page  */




